@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600&display=swap');
:root {
    --Softblue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Verydarkblue1: hsl(217, 54%, 11%);
    --Verydarkblue2: hsl(216, 50%, 16%);
    --Verydarkblue3: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
body {
    background-color: var(--Verydarkblue1);
    font-family: 'Outfit',sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
}
.container {
    background-color: var(--Verydarkblue2);
    padding: 20px;
    border-radius: 1rem;
}
.container img {
    max-width: 100%;
    border-radius: 14px;
}
.text h2 {
    color: var(--White);
}
.text p {
    color: var(--Softblue);
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
#price {
    color: var(--Cyan);
    font-size: 12px;
    align-self: flex-start;
}
#price img {
    height: 12px;
}

#time {
    color: var(--Softblue);
    font-size: 12px;
    align-self: flex-end;
}
#time img{
    height: 12px;
}
#line {
    height: 1px;
    background: var(--Softblue);
}
.after-line {
    padding-top: 3px;
    font-size: 13px;
}
#cr1 {
    color: var(--Softblue);
}
#cr2 {
    color: var(--White);
}

.attribution {
    padding-top: 10px;
    color: var(--Softblue);
}





@media (min-width:500px) {
    .container {
        width: 250px;
    }
}

